{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row"
        <div class="col-md-8">
            <div class="chart" id="bargraph">
              <script>
                  var graphs = {{plot | safe}};

                  Plotly.plot('bargraph',graphs,{});

                  myPlot = document.getElementById('bargraph');
                  myPlot.on('plotly_click', function(data){
                    // this data is the point which was clicked
                  // console.log(data.points[0].data.text);
                  var entry = {
                      name: data.points[0].data.text,
                      };


                      $.ajax({
                        url: '/dendogram',
                        data: JSON.stringify(entry),
                        type: 'POST',
                        contentType:'application/json',
                        success: function(data) {
                          var graphs = JSON.parse(data)
                          // console.log(graphs);
                          Plotly.newPlot('dendograph',graphs,{});
                          myPlot2 = document.getElementById('dendograph');
                          // // console.log(graphs);
                          // // console.log(myPlot2);
                          //
                          myPlot2.on('plotly_click', function(data){
                            // this data is the point which was clicked
                          console.log(data);
                           var gene = {
                              name: data.points[0].text,
                              };


                              $.ajax({
                                url: '/clustergeneClick',
                                data: JSON.stringify(gene),
                                type: 'POST',
                                contentType:'application/json',
                                success: function(data) {
                                  // var graphs = JSON.parse(data)
                                  var graphs = JSON.parse(data)
                                  // console.log(graphs);
                                  Plotly.newPlot('box_plot_time',graphs,{});
                                  // myPlot2 = document.getElementById('dendograph');
                                  //
                                  // console.log(data);
                                  // Plotly.newPlot('dendograph',graphs,{});
                                },
                                error: function(error) {
                                  console.log(error);
                                }

                              });



                          });


                        },
                        error: function(error) {
                          console.log(error);
                        }
                        // .done(function(data) {
                        // // Plotly.plot('dendograph',data,{});
                        // console.log(data);

                        // }
                      });

                  //
                  // java acript for  sending data to routes
                  // fetch(`${window.origin}/cluster/get_cluster`, {
                  // fetch(`${window.origin}/dendogram`, {
                  //     method: "POST",
                  //     credentials: "include",
                  //     body: JSON.stringify(entry),
                  //     cache: "no-cache",
                  //     headers: new Headers({
                  //       "content-type": "application/json"
                  //     })
                  //     })
                    //   .then(function (response) {
                    //     if (response.status !== 200) {
                    //       console.log(`Looks like there was a problem. Status code: ${response.status}`);
                    //       return;
                    //     }
                    //     response.json().then(function (data) {
                    //     console.log(data);
                    //   });
                    // })
                    // .catch(function (error) {
                    //   console.log("Fetch error: " + error);
                    // });

                  });

                  //  now we are going to do gene click event
                  myPlot2 = document.getElementById('dendograph');
                  console.log(myPlot2);



              </script>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row"
        <div class="col-md-8">
            <div class="chart" id="dendograph">
                <!-- <script>
                    var graphs2 = {{plot2 | safe}};

                    Plotly.plot('dendograph',graphs2,{});

                </script> -->
            </div>
        </div>
    </div>
</div>


<!-- <div class="container">
    <div class="row"
        <div class="col-md-6">
            <div class="chart" id="box_plot_time">
                <!-- <script>
                    var graphs2 = {{plot2 | safe}};

                    Plotly.plot('dendograph',graphs2,{});

                </script> -->
            </div>
        </div>
    </div>
</div> -->


<div class="container">
    <div class="row">
        <div class="col-md-6">
          <div class="chart" id="box_plot_time">

          </div>
        </div>
        <div class="col-md-6">
          <div class="chart" id="box_plot_ap2ko">

          </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row"
        <div class="col-md-8">
            <div class="chart" id="pie_and_table">
                <!-- <script>
                    var graphs2 = {{plot2 | safe}};

                    Plotly.plot('dendograph',graphs2,{});

                </script> -->
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
          <div class="chart" id="atlas_stage">

          </div>
        </div>
        <div class="col-md-6">
          <div class="chart" id="atlas_gene">

          </div>
        </div>
    </div>
</div>


{% endblock content%}
