{% extends "cluster.html" %}

{% block content %}

<div class="container">
    <div class="row"
        <div class="col-md-6">
            <div class="chart" id="dendograph">
                <script>
                    var graphs = {{plot | safe}};

                    Plotly.plot('dendograph',graphs,{});
                    // myPlot = document.getElementById('bargraph');
                    // myPlot.on('plotly_click', function(data){
                    //   // this data is the point which was clicked
                    // // console.log(data.points[0].data.text);
                    // var entry = {
                    //     name: data.points[0].data.text,
                    //
                    //     };
                    //
                    // // java acript for  sending data to routes
                    // fetch(`${window.origin}/cluster/get_cluster`, {
                    //     method: "POST",
                    //     credentials: "include",
                    //     body: JSON.stringify(entry),
                    //     cache: "no-cache",
                    //     headers: new Headers({
                    //       "content-type": "application/json"
                    //     })
                    //     })
                    //     .then(function (response) {
                    //       if (response.status !== 200) {
                    //         console.log(`Looks like there was a problem. Status code: ${response.status}`);
                    //         return;
                    //       }
                    //       response.json().then(function (data) {
                    //       console.log(data);
                    //     });
                    //   })
                    //   .catch(function (error) {
                    //     console.log("Fetch error: " + error);
                    //   });
                    //
                    // });

                </script>
            </div>
        </div>
    </div>
</div>



{% endblock content%}
